{% from 'macros/labeled_fields.html' import labeled_input, labeled_select %}

<form id="editRequisitinForm" class="requisition-form" method="post">

    <section class="form__section">
        <h2 class="section__header">Основное</h2>

        <div class="section__content">
            {% set product = product if product else None %}
            {% if is_certain %}
                {{ labeled_select(products_formated, label='Продукт', name='product_name', required=True, selected=certain_product.name) }}
            {% else %}
                {{ labeled_select(products_formated, label='Продукт', name='product_name', required=True) }}
            {% endif %}
            {{ labeled_input(name='amount', label='Количество', type='number') }}
        </div>

    </section>
</form>
