{% extends 'base.html' %}

{% from 'macros/labeled_input.html' import labeled_input %}

{% block title %}Профиль{% endblock %}


{% block head %}
    <link rel="stylesheet" href="/static/styles/profile.css">
{% endblock %}


{% block content %}
    <main>
        <form id="profile-form" action="profile/edit" method="post">
            <div id="profile-top-bar">
                <div id="title" class="left">Профиль</div>
                <div id="btns-container">
                    <button id="edit-btn" type="button">Изменить</button>
                    <button id="confirm-btn" class="accent" style="display: none">Подтвердить</button>
                    <button id="cancel-btn" class="danger" type="button" style="display: none">Отменить</button>
                </div>
            </div>
    
            <div id="profile-grid">
                <div id="main-profile-info">
                    {{ labeled_input(name='login', label='Логин', value=login, readonly=True) }}
                    {{ labeled_input(name='surname', label='Фамилия', value=surname, readonly=True) }}
                    {{ labeled_input(name='name', label='Имя', value=name, readonly=True) }}
                    {{ labeled_input(name='patronymic', label='Отчество', value=patronymic, readonly=True ) }}
                    {{ labeled_input(name='class', label='Класс', value=class, readonly=True) }}
                </div>
    
                <div id="allergies" class="scrollable-container">
                    <label>
                        <span>Аллергии</span>
                        <button id="add-allergy-btn" class="add-btn" type="button">+</button>
                    </label>
                    <ul id="allergies-list" class="scrollable-list">
                        {% for allergy in allergies %}
                        <li data-content="{{ allergy }}">
                            <span>{{ allergy }}</span>
                            <div class="li-btns" style="display: none;">
                                <button class="delete-btn danger" type="button">Удалить</button>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
    
                <div id="preferences-container" class="scrollable-container">
                    <label>
                        <span>Предпочтения</span>
                        <button id="add-preference-btn" class="add-btn" type="button">+</button>
                    </label>
                    <ul id="preferences-list" class="scrollable-list">
                        {% for preference in preferences %}
                        <li data-content="{{ preference }}">
                            <span class="content">{{ preference }}</span>
                            <div class="li-btns" style="display: none;">
                                <button class="delete-btn danger" type="button">Удалить</button>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="hidden-inputs" style="display: none;">
                <input name="allergies" type="hidden">
                <input name="preferences" type="hidden">
            </div>

        </form>
    </main>

    <script src="{{ url_for('static', filename='scripts/profile/getAllergies.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/profile/getPreferences.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/profile/submitProfileForm.js') }}"></script>
    <script>
        const form = document.getElementById('profile-form');
        const hiddenInputsContainer = document.getElementById('hidden-inputs');

        const edit_button = document.getElementById('edit-btn');
        const confirm_button = document.getElementById('confirm-btn');
        const cancel_button = document.getElementById('cancel-btn');

        const fields = document.querySelectorAll('#main-profile-info input');
        let initialValues = [];
        
        list_items = document.querySelectorAll('.scrollable-list li');

        list_items.forEach(li => {
            li.addEventListener('mouseenter', function() {
                let btns = this.querySelector('.li-btns');
                btns.style.display = 'block';
            });

            let del_btn = li.querySelector('.delete-btn');
            del_btn.addEventListener('click', function() {
                li.remove();

                let allergies = document.getElementById('allergies-list');
                let preferences = document.getElementById('preferences-list');

                submitProfileForm(form, hiddenInputsContainer, allergies, preferences);
            });

        });

        
        list_items.forEach(li => {
            li.addEventListener('mouseleave', function() {
                let btns = this.querySelector('.li-btns');
                btns.style.display = 'none';
            });
        });


        fields.forEach(field => {
            initialValues.push(field.value);
        });


        edit_button.addEventListener('click', function() {
            fields.forEach(field => {
                field.readOnly = false;
            });

            this.style.display = 'none';
            confirm_button.style.display = 'inline-block';
            cancel_button.style.display = 'inline-block';
        });


        cancel_button.addEventListener('click', function() {
            fields.forEach((field, index) => {
                field.readOnly = true;
                field.value = initialValues[index];
            });

            this.style.display = 'none';
            confirm_button.style.display = 'none';
            edit_button.style.display = 'inline-block';
        });
    </script>

{% endblock %}