.top-bar__left, .top-bar__right {
    display: flex;
    gap: 8px;
    align-items: center;
}

.price {
    margin-left: 8px;
    color: var(--primary);
    font-size: 2rem;
    font-weight: 600;
}

.menu-type {
    font-size: 1.25rem;
}

.buy-menu-btn {
    font-size: 1.1rem;
}

.days-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    list-style: none;
}

.day {
    border-radius: var(--border-radius-small);
    font-size: 1.1rem;
    transition: background 0.05s ease-in-out;

    &:hover {
        background: var(--bg-dark-hover);
    }
    
}

.day__link {
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 4px 8px;
    color: inherit;
    text-decoration: none;
}

.day--selected {
    color: var(--primary);
}

main {
    display: flex;
}

.no-menu-message {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 124px;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}
