.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu__top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.menu__header {
    margin: 0;
    text-align: center;
}

.menu__type {
    color: var(--text-muted)
}

.top-bar__buttons {
    display: flex;
    gap: 12px;
}

.menu__info {
    flex-grow: 1;
    overflow: auto;
}

.menu__info > section {
    margin-top: 24px;
}

.menu__info h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}

.dishes__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 124px;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}
