{% extends 'layouts/management/menus.html' %}


{% block title %}Добавить меню{% endblock %}


{% block head %}    
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/macros/labeled-input.css">
    <link rel="stylesheet" href="/static/styles/management/adding-styles.css">
    <link rel="stylesheet" href="/static/styles/management/menus/menu-form.css">
{% endblock %}


{% block top_bar %}
    {{ super() }}
    <button id="add-menu-btn" form="add-menu-form" class="add-btn accent">Добавить</button>
{% endblock %}


{% block main %}
    {% include 'includes/menus/menu_form.html' %}
{% endblock %}