{% extends 'layouts/management/menus.html' %}


{% block title %}{{ menu.type }}{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/menus/manage_menu.css">
    <link rel="stylesheet" href="/static/styles/includes/menus/menu_form.css">
    <link rel="stylesheet" href="/static/styles/macros/tiles/dish_tile.css">
    <link rel="stylesheet" href="/static/styles/macros/labeled_fields.css">
{% endblock %}


{% block main %}
    <div class="menu">
        <div class="menu__top-bar" style="z-index: 2;">
            <h2 class="menu__header">{{ menu.date | date_Y_M_d }} | 
                <span class="menu__type">
                    {% if menu.type == 'breakfast' %}
                        Завтрак
                    {% elif menu.type == 'lunch' %}
                        Обед
                    {% endif %}
                </span>
            </h2>

            <div class="top-bar__buttons">

                <div id="editingViewButtons" style="display: none;">
                    <button id="confirmEditingButton" class="accent" form="editMenuForm" type="confirm">Подтвердить</button>
                    <button id="cancelEditingButton" class="danger">Отмена</button>
                </div>

                <div id="basicViewButtons">
                    <button id="editMenuButton">Изменить</button>
    
                    <form id="deleteMenuForm" action="/menus/{{ menu.id }}/delete" method="post" style="display: none"></form>
                    <button id="deleteMenuButton" class="menu__delete-btn danger">Удалить</button>
                </div>
            </div>
        </div>
        

        <section id="editingSection" class="menu__editing" style="display: none;">
            <h3 class="dishes__header">Изменение...</h3>
            {% include 'includes/menus/menu_form.html' %}
        </section>


        <div id="menuInfo" class="menu__info">
            <section class="dishes">
                <h3 class="dishes__header">Блюда</h3>
                <div class="dishes__grid">
                    {% for dish in menu.dishes %}
                        {% include 'includes/dishes/dish_tile.html' %}
                    {% endfor %}
                </div>
            </section>
        </div>


    </div>
{% endblock %}


{% block scripts %}
    <script>
        const deleteButton = document.getElementById('deleteMenuButton');
        const deleteForm = document.getElementById('deleteMenuForm');

        deleteButton.addEventListener('click', function() {
            let isDeleting = confirm('Удалить меню?');

            if (isDeleting) {
                deleteForm.submit();
            }
        });


        const editButton = document.getElementById('editMenuButton');
        const cancelEditingButton = document.getElementById('cancelEditingButton');
        const confirmEditingButton = document.getElementById('confirmEditingButton');

        const editingSection = document.getElementById('editingSection');
        const menuInfo = document.getElementById('menuInfo');

        const basicViewButtons = document.getElementById('basicViewButtons');
        const editingViewButtons = document.getElementById('editingViewButtons');
        
        editButton.addEventListener('click', function() {
            basicViewButtons.style.display = 'none';
            editingViewButtons.style.display = 'block';

            editingSection.style.display = 'block';
            menuInfo.style.display = 'none';
        });

        cancelEditingButton.addEventListener('click', function() {
            basicViewButtons.style.display = 'block';
            editingViewButtons.style.display = 'none';

            editingSection.style.display = 'none';
            menuInfo.style.display = 'block';
        });
    </script>
{% endblock %}