{% extends 'layouts/header_layout.html' %}


{% block title %}Получение питания{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/menus/receiving.css">
{% endblock %}


{% block top_bar %}
    <div class="top-bar__left">
        <h1 class="title left">Получение питания</h1>
    </div>

    <div class="top-bar__right">

    </div>
{% endblock %}



{% block main %}
    {% if history_list %}
        <div class="menus">
            <ul class="menus__list">
                {% for history in history_list %}

                    {% set received = "menu--received" if history.status else "" %}

                    <li class="menu {{ received }}">
                        <h2 class="menu__header">
                            <span class="menu__date">{{ history.eat_date | date_Y_M_d}}</span>
                            <div class="menu__text-separator"></div>
                            {% if history.type == 'breakfast' %}
                                <span class="menu__type">Завтрак</span>
                            {% elif history.type == 'lunch' %}
                                <span class="menu__type">Обед</span>
                            {% endif %}
                        </h2>

                        <div class="menu__right-container">
                            <span class="menu__price">{{ history.cost }}₽</span>

                            {% if history.status %}
                                <div class="menu__received-status">Получено</div>
                            {% else %}
                                <form id="receiveMenuForm" method="post" style="display: none;">
                                    <input type="hidden" name="mark_received" value="{{ history.id }}">
                                </form>

                                <button class="menu__receive-button accent" form="receiveMenuForm" type="submit">Получить</button>
                            {% endif %}
                        </div>
                    </li>

                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="no-menus">
            <p><strong>Продуктов нет</strong></p>
        </div>
    {% endif %}
{% endblock %}