{% extends 'layouts/base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/styles/layouts/sidebar_w_header.css">
{% endblock %}


{% block content %}
    <div class="grid-wrapper">
        <div class="top-bar">
            {% block top_bar %}
                
            {% endblock %}
        </div>


        <div class="sidebar-wrapper">
            {% block sidebar %}
                
            {% endblock %}
        </div>

    
        <main class="main-wrapper">
            {% block main %}
                
            {% endblock %}
        </main>
    </div>
{% endblock %}