.dish {
    box-sizing: border-box;
    background: var(--bg);
    border: solid 2px transparent;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: border 0.1s ease-in-out;

    &:hover {
        border: solid 2px var(--primary);
    }

}

.dish__link {
    display: block;
    padding: 8px 12px;
    color: var(--text);
    text-decoration: none;
}

.dish__name {
    font-size: 1.25rem;
    font-weight: 600;
}


.dish__category {
    color: var(--primary);
}



.dish__composition {
    margin: 0;
    padding-left: 20px;
}

.dish__composition li {
    color: var(--text-muted)
}