{% extends 'management/menus/menu_base.html' %}

{% from 'macros/labeled_input.html' import labeled_input %}
{% from 'macros/labeled_select.html' import labeled_select  %}


{% block title %}Добавить меню{% endblock %}


{% block head %}    
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/macros/labeled-input.css">
    <link rel="stylesheet" href="/static/styles/management/adding-styles.css">
    <link rel="stylesheet" href="/static/styles/management/menus/menu-form.css">
{% endblock %}


{% block top_bar %}
    {{ super() }}
    <button id="add-menu-btn" form="add-menu-form" class="add-btn accent">Добавить</button>
{% endblock %}


{% block main %}
    {% include 'management/menus/menu_form.html' %}
{% endblock %}