{% extends 'management/menus/menu_base.html' %}

{% from 'macros/labeled_input.html' import labeled_input %}
{% from 'macros/labeled_select.html' import labeled_select  %}


{% block title %}Добавить меню{% endblock %}


{% block head %}    
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/macros/labeled-input.css">
    <link rel="stylesheet" href="/static/styles/management/adding-styles.css">
    <link rel="stylesheet" href="/static/styles/management/menu/add-menu.css">
{% endblock %}


{% block top_bar %}
    {{ super() }}
    <button id="add-menu-btn" form="add-menu-form" class="add-btn accent">Добавить</button>
{% endblock %}


{% block main %}
    <div class="form-wrapper">
        <form id="add-menu-form" class="add-menu-form" method="post">

            <section class="form__section">
                <h2 class="section__header">Основное</h2>

                <div class="section__content">
                    {{ labeled_select([('breakfast', 'Завтрак'), ('lunch', 'Обед')], label='Тип', name='type', required=True) }}
                </div>

            </section>


            <section class="form__section">
                <h2 class="section__header">Состав</h2>

                <div class="section__content">
                    {% for category in categories.keys() %}
                    {{ labeled_select(options=[('', '...')] + categories[category], name=category, label=category) }}
                    {% endfor %}
                </div>
            </section>
            

        </form>
    </div>
{% endblock %}