{% extends 'grid_w_sidebar_layout.html' %}
{% from 'macros/sidebar.html' import sidebar %}
{% from 'macros/title.html' import title   %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/macros/sidebar.css">
    <link rel="stylesheet" href="/static/styles/macros/title.css">
    <link rel="stylesheet" href="/static/styles/management/management_base.css">
{% endblock %}


{% block top_bar %}
    {{ title(text='Меню', alignment='left') }}
{% endblock %}


{% block sidebar %}
    {% call sidebar(header='Вкладки') %}
    <nav class="management-nav">
        <ul class="management-nav__list">
            <li><a href="/manage/menus">Список</a></li>
            <li><a href="/manage/menus/add">Добавить</a></li>
        </ul>
    </nav>
    {% endcall %}
{% endblock %}