{% extends 'management/menus/menu_base.html' %}



{% block title %}Список меню{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/management/menu/menu.css">
{% endblock %}


{% block main %}
    <div class="menus-grid">
        {% for menu in menus %}
            <div class="menu">
                <a href="manage/menus/{{ menu.id }}" class="menu__link">

                    <h2 class="menu__header">{{ menu.date.strftime('%-d.%m.%Y') }} | 
                        <span class="menu__type">
                            {% if menu.type == 'breakfast' %}
                                Завтрак
                            {% elif menu.type == 'lunch' %}
                                Обед
                            {% endif %}
                        </span>
                    </h2>
    
                    <ul class="menu__info">
                        <li>{{ menu.price }}₽</li>
                        <li>Блюд: {{ menu.dishes|length }}</li>
                    </ul>

                </a>

            </div>
        {% endfor %}
    </div>
{% endblock %}
