{% extends 'management/menus/menu_base.html' %}


{% block title %}Список меню{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/management/menu/menu.css">
{% endblock %}


{% block main %}
    <div class="menus-grid">
        {% for menu in menus %}
            <div class="menu">
                <a href="menus/{{ menu.id }}" class="menu__link">

                    <div class="menu__top">
                        <h2 class="menu__header">{{ menu.date | date_Y_M_d }} | 
                            <span class="menu__type">
                                {% if menu.type == 'breakfast' %}
                                    Завтрак
                                {% elif menu.type == 'lunch' %}
                                    Обед
                                {% endif %}
                            </span>
                        </h2>
    
                        <button class="menu__delete-btn danger"><img style="height: 1.25em;" src='/static/images/buttons/delete_button.svg'></button>
                    </div>
    
                    <ul class="menu__info">
                        <li>{{ menu.price }}₽</li>
                        <li>Блюд: {{ menu.dishes|length }}</li>
                    </ul>

                </a>

            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block scripts %}
    <script>
        const menus = document.querySelectorAll('.menu');

        menus.forEach(user => {
            const deleteButton = user.querySelector('.menu__delete-btn');
            const id = user.dataset.id;
            
            deleteButton.addEventListener('click', function() {
                event.preventDefault();
                isDeleting = confirm('Удалить меню?');
                if (isDeleting) {
                    
                }
            });
        });


    </script>
{% endblock %}
