{% extends 'management/menus/menu_base.html' %}

{% from 'macros/tiles/menu_tile.html' import menu_tile   %}

{% block title %}Список меню{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/management/menus/menus.css">
    <link rel="stylesheet" href="/static/styles/macros/tiles/menu_tile.css">
{% endblock %}


{% block main %}
    <div class="menus-grid">
        {% for menu in menus %}
            {{ menu_tile(menu, delete_button=True) }}
        {% endfor %}
    </div>
{% endblock %}


{% block scripts %}
    <script>
        const menus = document.querySelectorAll('.menu');

        menus.forEach(user => {
            const deleteButton = user.querySelector('.menu__delete-btn');
            const id = user.dataset.id;
            
            deleteButton.addEventListener('click', function() {
                event.preventDefault();
                isDeleting = confirm('Удалить меню?');
                if (isDeleting) {
                    
                }
            });
        });


    </script>
{% endblock %}
