{% extends 'layouts/management/products.html' %}


{% block title %}Список продуктов{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/menus/menu.css">
    <link rel="stylesheet" href="/static/styles/products/list.css">
{% endblock %}


{% block top_bar %}
    <div class="top-bar__left">
        <h1 class="title left">Продукты</h1>
    </div>
{% endblock %}

{% block main %}
    {% if products %}
        <div class="product-grid">
            {% for product in products %}
                {% include 'includes/products/product_tile.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div class="no-products-message">
            <p><strong>Продуктов нет</strong></p>
        </div>
    {% endif %}
{% endblock %}