{% extends 'management/users/users_base.html' %}

{% block title %}Пользователи{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/management/users/users.css">
{% endblock %}


{% block main %}
    <div class="users-grid">
        
        {% for user in users %}
        <div class="user" data-id="{{ user.id }}">
            <a href="/manage/users/" class="user__link">
                <div class="user__top">
                    <h2 class="user__full-name">{{ user.surname }} {{ user.name[0] }}. {{ user.patronymic[0] }}.</h2>
                    <button class="user__delete-btn danger"><img style="height: 1.25em;" src='/static/images/buttons/delete_button.svg'></button>
                </div>
                
                <ul class="user__special-info">
                    <li class="user__role">{{ user.role }}</li>

                    {% if user.balance %}
                    <li>{{ user.balance }}</li>
                    {% endif %}

                    {% if True %}
                        <li>Абонемент</li>
                    {% endif %}
                </ul>
            </a>
            
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const users = document.querySelectorAll('.user');

        users.forEach(user => {
            const deleteButton = user.querySelector('.user__delete-btn');
            const id = user.dataset.id;
            
            deleteButton.addEventListener('click', function() {
                event.preventDefault();
                isDeleting = confirm('Удалить пользователя?');
                if (isDeleting) {
                    
                }
            });
        });


    </script>
{% endblock %}