.menu {
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    
}

.menu__link {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: var(--text);
    border: solid 2px transparent;
    border-radius: var(--border-radius);
    transition: border 0.1s ease-in-out;
}

.menu__top {
    display: flex;
    justify-content: space-between;
}

.menu__delete-btn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 6px 6px;
}

.menu__header {
    margin: 0 4px;
    font-size: 1.3rem;
    font-weight: 600;
}

.menu__type {
    color: var(--primary);
}

.menu__info {
    display: flex;
    gap: 6px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__info li {
    width: fit-content;
    padding: 4px 8px;
    font-size: 1.1rem;
    background: var(--bg-light);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}