.form-wrapper {
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    padding: 16px;
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    overflow-y: auto;
}

.add-menu-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: max-content;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    width: 100%;
}

.section__header {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
}

.section__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}