.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu__top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.menu__header {
    margin: 0;
    text-align: center;
}

.menu__type {
    color: var(--text-muted)
}

.top-bar__buttons {
    display: flex;
    gap: 12px;
}

.menu__info {
    flex-grow: 1;
    padding-top: 24px;
    overflow: auto;
}

.dishes__header {
    margin: 0;
    margin-bottom: 12px;
    font-size: 1.5rem;
    font-weight: 600;
}

.dishes__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 124px;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.dish {
    box-sizing: border-box;
    background: var(--bg);
    border: solid 2px transparent;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: border 0.1s ease-in-out;

    &:hover {
        border: solid 2px var(--primary);
    }

}

.dish__link {
    display: block;
    padding: 8px 12px;
    color: var(--text);
    text-decoration: none;
}

.dish__name {
    font-size: 1.25rem;
    font-weight: 600;
}

.dish__composition {
    margin: 0;
    padding-left: 20px;
}

.dish__composition li {
    color: var(--text-muted)
}