.product-form {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: max-content;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    width: 100%;
    height: fit-content;
    padding: 16px;
    overflow-y: auto;
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

main {
  box-sizing: border-box;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.section__header {
  margin: 0;
    margin-bottom: 0px;
  margin-bottom: 8px;
  font-weight: 600;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}