.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: 124px;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.product {
    box-sizing: border-box;
    background: var(--bg);
    border: solid 2px transparent;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: border 0.1s ease-in-out;
    padding: 2px;
}

.product__name {
    font-size: 1.75rem;
    font-weight: 600;   
}

.product-title {
    display: flex;
    justify-content: space-between;
}

.product__composition {
    margin: 7px;
    padding-left: 15px;
}

.product__composition li {
    color: var(--text-muted)
}

.edit-btn {
    font-size: 0.8rem;
    width: 50%;
}

.del-btn {
    font-size: 0.8rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items:normal;
}