.top-bar__left, .top-bar__right {
    display: flex;
    gap: 8px;
    align-items: center;
}

.top-bar {
  grid-column: span 2;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background: var(--bg);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.grid-wrapper {
    box-sizing: border-box;
    flex: 1 1;
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 60px minmax(0px, 1fr);
    row-gap: 12px;
    column-gap: 12px;
    min-height: 100px;
    margin: 16px 16px;
}

.sidebar-wrapper {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  height: fit-content;
  max-height: 100%;
  padding: 8px 8px;
  background: var(--bg);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.management-nav__list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__header {
  margin: 0px 4px;
    margin-bottom: 0px;
  margin-bottom: 8px;
}

.sidebar__content {
  min-height: 10px;
  height: auto;
  overflow: auto;
}

.management-nav__list li a {
  display: block;
  box-sizing: border-box;
  padding: 6px 12px;
  color: var(--text);
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 124px;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.product {
    box-sizing: border-box;
    background: var(--bg);
    border: solid 2px transparent;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: border 0.1s ease-in-out;

    &:hover {
        border: solid 2px var(--primary);
    }

}

.product__name {
    font-size: 1.25rem;
    font-weight: 600;
}

.product__composition {
    margin: 0;
    padding-left: 20px;
}

.product__composition li {
    color: var(--text-muted)
}