.users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 100px;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.user {
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.user__link {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 12px;
    color: var(--text);
    text-decoration: none;
}

.user__top {
    display: flex;
    justify-content: space-between;
}

.user__delete-btn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 6px 6px;
}

.user__full-name {
    margin: 0;
}

.user__special-info {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user__special-info li {
    padding: 4px 12px;
    background: var(--bg-light);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
}