.users-nav__list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.users-nav__list li a {
    display: block;
    box-sizing: border-box;
    padding: 6px 12px;
    color: var(--text);
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
}

.users-nav__list li:hover {
    background: var(--bg-dark-hover);
    border-radius: var(--border-radius);
}
