.reviews {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.reviews__amount {
    color: var(--primary);
}


.review {
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}


.review__link {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: var(--text);
    text-decoration: none;
    border: solid 2px transparent;
    border-radius: var(--border-radius);
    transition: border 0.1s ease-in-out;
    
    &:hover {
        border-color: var(--primary);
    }
}

.review__dish {
    margin: 0;
    margin-bottom: 10px;
}


.review__content {
    margin: 0;
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}


.no-reviews {
    text-align: center;
    font-size: 1.3rem;
}