{% macro labeled_select(options, label, name='', class='labeled-select', required=False) %}
    <div class="{{ class }}">

        {% if label %}
        <label for="{{ name }}">{{ label }}</label>
        {% endif %}

        <select id="{{ name }}" name="{{ name }}"
            {% if required %}required{% endif %}>

            {% for option in options %}
               <option value="{{ option[0] }}">{{ option[1] }}</option> 
            {% endfor %}

        </select>
    </div>
{% endmacro %}