{% from 'macros/labeled_fields.html' import labeled_input, labeled_select %}


<form id="editMenuForm" class="menu-form" method="post">

    <section class="form__section">
        <h2 class="section__header">Основное</h2>

        <div class="section__content">
            {% set menu = menu if menu else None %}
            {{ labeled_select([('breakfast', 'Завтрак'), ('lunch', 'Обед')], selected=menu.type, label='Тип', name='type', required=True) }}
            {{ labeled_input(name='date', label='Дата', type='date', value=menu.date) }}
        </div>

    </section>


    <section class="form__section">
        <h2 class="section__header">Состав</h2>

        <div class="section__content">
            {% for category in categories.keys() %}
            {% set ns = namespace(selected='') %}
            
                {% for dish in menu.dishes %}
                    {% if dish.category == category %}
                        {% set ns.selected = dish %}
                    {% endif %}
                {% endfor %}

                {{ labeled_select(options=[('', '...')] + categories[category], selected=ns.selected.name, name=category, label=category) }}
            {% endfor %}
        </div>
    </section>
    
</form>
