<div class="menu">
    <a class="menu__link">

        <div class="menu__top">
            <h2 class="menu__header">{{ menu.date | date_Y_M_d }} | 
                <span class="menu__type">
                    {% if menu.type == 'breakfast' %}
                        Завтрак
                    {% elif menu.type == 'lunch' %}
                        Обед
                    {% endif %}
                </span>
            </h2>
            
            {% if current_user.role == 'cook' %}
            <button class="delete-btn-small danger"><img style="height: 1.25em;" src='/static/images/buttons/delete_button.svg'></button>
            {% endif %}
        </div>

        <ul class="menu__info">
            <li>{{ menu.price }}₽</li>
            <li>Блюд: {{ menu.dishes|length }}</li>
            <li>Выдано: {{ menu.get_amount }}</li>
        </ul>

    </a>
</div>