.requisition-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 124px;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.requisition {
    box-sizing: border-box;
    background: var(--bg);
    border: solid 2px transparent;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: border 0.1s ease-in-out;

}

.requisition__name {
    font-size: 1.75rem;
    font-weight: 600;   
}

.requisition__composition {
    margin: 7px;
    padding-left: 15px;
}

.requisition__composition li {
    color: var(--text-muted)
}