{% extends 'layouts/header_layout.html' %}


{% block title %}Отзывы{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/reviews/list.css">
{% endblock %}


{% block top_bar %}
    <h1 class="title left">
        Отзывы
        <span class="reviews__amount">{{ reviews | length }}</span>
    </h1>
{% endblock %}


{% block main %}
    <div class="reviews">
        {% for review in reviews %}
            <div class="review">
                <a href="/dishes/{{ review.dish.id }}" class="review__link">
                    <h2 class="review__dish">{{ review.dish.name }}</h2>
                    <p class="review__content">{{ review.content }}</p>
                </a>
            </div> 
        {% else %}
            {% if current_user.roles[0].name == 'user' %}
                <p class="no-reviews"><strong>Вы не оставили ни одного отзыва</strong></p>
            {% else %}
                <p class="no-reviews"><strong>Пользователи не оставили ни одного отзыва</strong></p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
