{% from 'macros/labeled_fields.html' import labeled_input, labeled_select %}

<form method="post" id="editDishForm" class="dishes-form">
    <section class="form__section">
        <h2 class="section__header">Основное</h2>

        <div class="section__content">
            {{ labeled_input(name='name', label='Название', type='text') }}
            {{ labeled_select([('', 'Выберете тип блюда'), ('breakfasts', 'завтраки'), ('salads', 'салаты'), ('soups', 'супы'),
             ('main_dishes', 'основные блюда'), ('drinks', 'напитки'), ('bread', 'хлеб')],
              label='Измерение', name='category', required=True) }}
        </div>
    </section>

    <section class="form__section">
        <div class="second_form_header">
            <h2 class="section__header">Состав</h2>
            <button class="add_product_button" onclick="addInput()" type="button">+</button>
        </div>
        <div class="section__content" id="container">
            <div class="input-group">
                {{ labeled_select(products_form, label='Продукт', name='ingredients', required=True) }}
                {{ labeled_input(name='product_amount', label='Количество', type='number') }}
            </div>
        </div>
    </section>
     
</form>