<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block title %}Добавить пользователя{% endblock %}

{% block content %}
  <main>

    <form method="post" enctype="multipart/form-data">

      <div>
        <label for="name">Имя</label>
        <input id="name" name="name" placeholder="Имя" required>
      </div>

      <div>
        <label for="surname">Фамилия</label>
        <input id="surname" name="surname" placeholder="Фамилия" required>
      </div>

      <div>
        <label for="patronymic">Отчество</label>
        <input id="patronymic" name="patronymic" placeholder="Отчество" required>
      </div>

      <div>
        <label for="login">Логин</label>
        <input id="login" name="login" placeholder="Логин" required>
      </div>

      <div>
        <label for="role">Роль</label>
        <select id="role" name="role">
          <option value="cook">Повар</option>
          <option value="admin">Администратор</option>
        </select>
      </div>

      <div>
        <label for="password">Пароль</label>
        <input id="password" type="password" name="password" placeholder="Пароль" required>
      </div>

      <div>
        <label for="second_password">Повторите пароль</label>
        <input id="second_password" type="password" name="second_password" placeholder="Повторите пароль" required>
      </div>

      <button class="accent" type="submit">Подтвердить</button>

    </form>

  </main>

{% endblock %}