<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% block title %}Добавить блюдо{% endblock %}

  {% block content %}
    <main>
      <form method="post">

        <div>
          <label for="name">Название</label>
          <input id="name" name="name" placeholder="Название" required>
        </div>

        <div>
          <label>Категория</label>
          <select id="category" name="category" required>
                            <option value="Breakfasts">Завтраки</option>
                            <option value="Salads">Салаты</option>
                            <option value="Soups">Супы</option>
                            <option value="Main dishes">Основные блюда</option>
                            <option value="Drinks">Напитки</option>
                            <option value="Bread">Хлеб</option>
          </select>
        </div>

        <button type="submit">Подтвердить</button>

      </form>
    </main>

  {% endblock %}
</body>
</html>