<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block title %}Добавить блюдо{% endblock %}

    {% block content %}
    <main>
        <form method="post">

            <div>
                <label for="name">Название</label>
                <input id="name" name="name" placeholder="Название" required>
            </div>

            <div>
                <label>Категория</label>
                <select id="category" name="category" required>
                    <option value=""></option>
                    <option value="breakfasts">Завтраки</option>
                    <option value="salads">Салаты</option>
                    <option value="soups">Супы</option>
                    <option value="main_dishes">Основные блюда</option>
                    <option value="drinks">Напитки</option>
                    <option value="bread">Хлеб</option>
                </select>
            </div>

            <div>
                <label>Состав</label>
                <select id="ingredients" name="ingredients" multiple required>
                    <option value=""></option>
                    {% for product in products %}
                        <option value="{{ product.name }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Подтвердить</button>

        </form>
    </main>

  {% endblock %}
</body>
</html>