{% extends 'base.html' %}

{% block title %}Список меню{% endblock title %}

{% block content %}
    {% for menu in menus %}
        <div>{{ menu.date }}</div>
        <div>{{ menu.type }}</div>
        {% for dish in menu.dishes %}
            <div>{{ dish.name }}</div>
            {% if dish.products %}
                <div>Состав:</div>
                {% for product in dish.products %}
                    {{ product.name }}
                {% endfor %}
            {% else %}
                    <div>Состав не известен</div>
            {% endif %}
        {% endfor %}
        <div>{{ menu.price }}</div>
    {% endfor %}
{% endblock content %}