{% extends 'layouts/sidebar_w_header.html' %}

{% from 'macros/sidebar.html' import sidebar %}

{% block title %}Админ: Блюда{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/menus/menu.css">
    <link rel="stylesheet" href="/static/styles/macros/sidebar.css">
    <link rel="stylesheet" href="/static/styles/includes/dishes/dish_tile.css">
{% endblock %}

{% block top_bar %}
    <div class="top-bar__left">
        <h1 class="title left">Блюда</h1>
    </div>
{% endblock %}

{% block sidebar %}
    {% call sidebar(header='Категории') %}
    <ul class="days-list">
        <li class="day">
            <a class="day__link" href="#breakfasts">Завтраки</a>
        </li>
        <li class="day">
            <a class="day__link" href="#salads">Салаты</a>
        </li>
        <li class="day">
            <a class="day__link" href="#soups">Супы</a>
        </li>
        <li class="day">
            <a class="day__link" href="#main_dishes">Основные блюда</a>
        </li>
        <li class="day">
            <a class="day__link" href="#drinks">Напитки</a>
        </li>
        <li class="day">
            <a class="day__link" href="#bread">Хлеб</a>
        </li>
    </ul>
    {% endcall %}
{% endblock %}

{% block main %}
<div class="dishes-container">
    {% if breakfasts %}
    <section id="breakfasts" class="dish-category">
        <h2 class="category-title">Завтраки</h2>
        <div class="menu-grid">
            {% for dish in breakfasts %}
                <div class="dish">
                    <a class="dish__link" href="/dishes/{{ dish.id }}">
                        <div class="dish__name">{{ dish.name }}</div>
                        <ul class="dish__composition">
                            {% for association in dish.products %}
                                <li>{{ association.product.name }}</li>
                            {% endfor %}
                        </ul>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if salads %}
    <section id="salads" class="dish-category">
        <h2 class="category-title">Салаты</h2>
        <div class="menu-grid">
            {% for dish in salads %}
                <div class="dish">
                    <a class="dish__link" href="/dishes/{{ dish.id }}">
                        <div class="dish__name">{{ dish.name }}</div>
                        <ul class="dish__composition">
                            {% for association in dish.products %}
                                <li>{{ association.product.name }}</li>
                            {% endfor %}
                        </ul>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if soups %}
    <section id="soups" class="dish-category">
        <h2 class="category-title">Супы</h2>
        <div class="menu-grid">
            {% for dish in soups %}
                <div class="dish">
                    <a class="dish__link" href="/dishes/{{ dish.id }}">
                        <div class="dish__name">{{ dish.name }}</div>
                        <ul class="dish__composition">
                            {% for association in dish.products %}
                                <li>{{ association.product.name }}</li>
                            {% endfor %}
                        </ul>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if main_dishes %}
    <section id="main_dishes" class="dish-category">
        <h2 class="category-title">Основные блюда</h2>
        <div class="menu-grid">
            {% for dish in main_dishes %}
                <div class="dish">
                    <a class="dish__link" href="/dishes/{{ dish.id }}">
                        <div class="dish__name">{{ dish.name }}</div>
                        <ul class="dish__composition">
                            {% for association in dish.products %}
                                <li>{{ association.product.name }}</li>
                            {% endfor %}
                        </ul>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if drinks %}
    <section id="drinks" class="dish-category">
        <h2 class="category-title">Напитки</h2>
        <div class="menu-grid">
            {% for dish in drinks %}
                <div class="dish">
                    <a class="dish__link" href="/dishes/{{ dish.id }}">
                        <div class="dish__name">{{ dish.name }}</div>
                        <ul class="dish__composition">
                            {% for association in dish.products %}
                                <li>{{ association.product.name }}</li>
                            {% endfor %}
                        </ul>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if bread %}
    <section id="bread" class="dish-category">
        <h2 class="category-title">Хлеб</h2>
        <div class="menu-grid">
            {% for dish in bread %}
                <div class="dish">
                    <a class="dish__link" href="/dishes/{{ dish.id }}">
                        <div class="dish__name">{{ dish.name }}</div>
                        <ul class="dish__composition">
                            {% for association in dish.products %}
                                <li>{{ association.product.name }}</li>
                            {% endfor %}
                        </ul>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}