<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block title %}Создать заявку{% endblock %}

    {% block content %}
    <main>
        <form method="post">

            <div>
                <label for="product_name">Продукт</label>
                <select id="product_name" name="product_name" required>
                    <option value=""></option>
                    {% for product in products %}
                        <option value="{{ product.name }}">{{ product.name }}({{ product.measurement }})</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="amount">Количество</label>
                <input id="amount" name="amount" type="number" min="1" placeholder="Количество" required>
            </div>

            <button type="submit">Подтвердить</button>

        </form>
    </main>

  {% endblock %}
</body>
</html> 