<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block title %}Изменить блюдо{% endblock %}

    {% block content %}
    <main>
        <form method="post">

        <div>
            <label for="name">Название</label>
            <input id="name" name="name" placeholder="Название" value="{{ name }}" required>
        </div>

        <div>
            <label>Категория</label>
            <select id="category" name="category" required>
                <option value="breakfasts" {% if category == 'breakfasts' %} selected {% endif %}>
                    Завтраки
                </option>
                <option value="salads" {% if category == 'salads' %} selected {% endif %}>
                    Салаты
                </option>
                <option value="soups" {% if category == 'soups' %} selected {% endif %}>
                    Супы
                </option>
                <option value="main_dishes" {% if category == 'main_dishes' %} selected {% endif %}>
                    Основные блюда
                </option>
                <option value="drinks" {% if category == 'drinks' %} selected {% endif %}>
                    Напитки
                </option>
                <option value="bread" {% if category == 'bread' %} selected {% endif %}>
                    Хлеб
                </option>
            </select>
        </div>

        <button type="submit">Подтвердить</button>

        </form>
    </main>

    {% endblock %}
</body>
</html>