<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile edit</title>
</head>
<body>
    <form method="post">

        <label>Логин</label>
        <input name="login" value="{{ login }}" placeholder="Логин"><br>

        <label>Аллергии</label>
        <input name="alergies" value="{{ alergies }}" placeholder="Аллергии"><br>

        <label>Предпочтения</label>
        <input name="preferences" value="{{ preferences }}" placeholder="Предпочтения"><br>

        <input type="submit" value="Сохранить">
    </form>
</body>
</html>