<div id="profile-popup">
    <ul id="profile-options">
        <li>
            <a href='/profile'>Профиль</a>
        </li>

        <li>
            <a h ref='/reviews'>Отзывы</a>
        </li>

        <li>
            <a href="/settings">Настройки</a>
        </li>

        <li>
            <a href='/exit'>Выйти</a>
        </li>

        <!-- <a href='/menu'>Меню</a> -->
        <!-- <a href='/payment'>Оплата питания</a>
        <a href='/food-recieving'>Получение питания</a> -->
    </ul>
</div>