<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile edit</title>
</head>
<body>
    <form method="post">
        <label>Имя</label>
        <input name="name" value="{{ name }}" placeholder="Имя"><br>

        <label>Фамилия</label>
        <input name="surname" value="{{ surname }}" placeholder="Фамилия"><br>

        <label>Отчество</label>
        <input name="patronymic" value="{{ patronymic }}" placeholder="Отчество"><br>

        <label>Логин</label>
        <input name="login" value="{{ login }}" placeholder="Логин"><br>

        <label>Класс</label>
        <input name="class" value="{{ class }}" placeholder="Класс"><br>

        <label>Аллергии</label>
        <input name="alergies" value="{{ alergies }}" placeholder="Аллергии"><br>

        <label>Предпочтения</label>
        <input name="preferences" value="{{ preferences }}" placeholder="Предпочтения"><br>

        <input type="submit" value="Сохранить">
    </form>
</body>
</html>