<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block title %}Список продуктов{% endblock title %}

    {% block content %}

        {% if products %}
            {% for product in products %}
                <div>{{ product.name }}</div>
                <div>{{ product.amount }}</div>
                <div>{{ product.measurement }}</div>
                <button onclick="document.location.href='/cook/product/{{ product.id }}/edit'">Изменить продукт</button>
            {% endfor %}
        {% else %}
            <div>Продуктов нет</div>
        {% endif %}

    {% endblock content%}

    <button onclick="document.location.href='/cook/product/add'">Добавить продукт</button>
    <button onclick="document.location.href='/cook/menu'">Назад</button>
</body>
</html>