<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block title %}Список продуктов{% endblock title %}

    {% block content %}

        {% for product in products %}
            <div>{{ product.name }}</div>
            <div>{{ product.amount }}</div>
            <div>{{ product.measurement }}</div>
            <button onclick="document.location.href='/{{ product.id }}/edit_product'">Изменить продукт</button>
            <button onclick="document.location.href='/{{ product.id }}/delete_product'">Удалить продукт</button>
        {% endfor %}

    {% endblock content%}

    <button onclick="document.location.href='/add_product'">Добавить продукт</button>
    <button onclick="document.location.href='/cook_menu'">Назад</button>
</body>
</html>