<!-- templates/receiving.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История</title>
</head>
<body>
    <h1>История операций</h1>

    <form method="POST">
        <table border="1" cellpadding="8" cellspacing="0">
            <thead>
                <tr>
                    <th>Статус</th>
                    <th>Дата</th>
                    <th>Тип</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                {% for history in history_list %}
                <tr>
                    <td>
                        <input type="checkbox"
                               name="history_ids"
                               value="{{ history.id }}">
                    </td>
                    <td>{{ history.eat_date }}</td>
                    <td>{{ history.type }}</td>
                    <td>{{ history.cost }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">Нет записей получения</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <button type="submit">Отправить</button>
    </form>
    <a href="/">Назад к главной</a>

</body>
</html>