<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <input type="text" placeholder="фамилия" name="surname">
        <input type="text" placeholder="имя" name="name">
        <input type="text" placeholder="отчество" name="patronymic">
        <input type="text" placeholder="логин" name="login">
        <input type="password" placeholder="пароль" name="password">
        <input type="password" placeholder="повторите пароль" name="second_password">
        <input type="submit">
    </form>
</body>
</html>