<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block title %}Статистика посещаемости{% endblock title %}

    {% block content %}

        {% if menu_statistic %}
            {% for statistic in menu_statistic %}
                <div>{{ statistic.menu.date }}, {{ statistic.menu.type }}, {{ statistic.menu.get_amount }}</div>
                {% if statistic.classes %}
                    <div>Распределение по классам:</div>
                    {% for stud_class, amount in statistic.classes.items() %}
                        <div>{{ stud_class }} - {{ amount }}</div>
                    {% endfor %}
                {% else %}
                    <div>Нет данных по классам</div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div>Ни одно меню не было куплено</div>
        {% endif %}

    {% endblock content%}

    <button onclick="document.location.href='/admin/statistics'">Назад</button>
</body>
</html>