{% from 'macros/labeled_fields.html' import labeled_input, labeled_select %}

<form id="editProductForm" class="product-form" method="post">

    <section class="form__section">
        <h2 class="section__header">Основное</h2>

        <div class="section__content">
            {% set product = product if product else None %}
            {{ labeled_input(name='name', label='Название', type='text') }}
            {{ labeled_select([('кг', 'кг'), ('л', 'л')], selected=product.measurement, label='Измерение', name='measurement', required=True) }}
        </div>

    </section>
</form>
