<div class="product">
    <div class="product-title">
        <div class="product__name">{{ product.name }}</div>
        <button class="delete-btn-small danger" onclick="document.location='/cook/product/{{ product.id }}/del'"><img style="height: 1.25em;" src='/static/images/buttons/delete_button.svg'></button>
    </div>
    <ul class="product__composition">
        <li>Колличество: {{ product.amount }} {{ product.measurement }}</li>
    </ul>
    <div class="buttons">
        <button onclick="document.location='/cook/requisition/add/{{ product.id }}'" class="edit-btn">Закупить</button>
        <button onclick="document.location='/cook/product/{{ product.id }}/edit'" class="edit-btn">Изменить</button>
    </div>
</div>


