.grid-wrapper {
    box-sizing: border-box;
    flex: 1 1;
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 60px minmax(0px, 1fr);
    row-gap: 12px;
    column-gap: 12px;
    min-height: 100px;
    margin: 16px 16px;
}

.top-bar {
    grid-column: span 2;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.sidebar-wrapper {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}