main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-form {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    padding: 16px;
    width: 50%;
    min-width: 400px;
    height: 500px;
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow)
}

#profile-top-bar {
    display: flex;
    justify-content: space-between;
}

#btns-container button {
    font-size: 1rem;
}

#profile-grid {
    flex: 1 1;
    min-height: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 24px;
}

#main-profile-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-row: span 2;
    padding-right: 16px;
    border: solid var(--border-color);
    border-width: 0 1px 0 0;
}

#main-profile-info input {
    box-sizing: border-box;
    width: 100%;
}

.scrollable-container {
    display: flex;
    flex-direction: column;
}

.scrollable-container label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
    font-size: 1.1rem;
}

.scrollable-list {
    flex: 1 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    list-style-type: none;
    padding: 0;
    padding-right: 8px;
    margin: 0;
}

.scrollable-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.2rem;
    margin: 4px 0;
    padding: 4px 12px;
    padding-right: 6px;
    font-size: 1.4rem;
    border-radius: var(--border-radius);
}

.scrollable-list li:hover {
    background: var(--bg-light);
    box-shadow: var(--shadow-small);
}

.add-btn {
    aspect-ratio: 1/1;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.7rem;
}