.sidebar {
    padding: 8px 8px;
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.sidebar__header {
    margin: 0px 4px;
    margin-bottom: 8px;
}
