.sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    height: 100%;
    padding: 8px 8px;
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.sidebar__header {
    margin: 0px 4px;
    margin-bottom: 8px;
}

.sidebar__content {
    min-height: 10px;
    height: auto;
    overflow: auto;
}
