.title {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;

    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }

    &.center {
        text-align: center;
    }

}
