{% extends 'layouts/base.html' %}

{% from 'macros/labeled_fields.html' import labeled_input %}


{% block title %}Вход{% endblock %}


{% block head %}
    <link rel="stylesheet" href="/static/styles/auth.css">
    <link rel="stylesheet" href="/static/styles/macros/labeled-input.css">
    <link rel="stylesheet" href="/static/styles/macros/title.css">
{% endblock %}


{% block content %}
    <main>
        <form id="auth-form" method="post">
            <h1 class="title">Вход</h1>

            <div id="fields">
                {{ labeled_input(name='login', label='Логин', required=True) }}
                {{ labeled_input(name='password', label='Пароль', type='password', required=True) }}    
            </div>
            <a href="/register">Регистрация</a>

            <button id="submit-btn" class="accent" type="submit">Войти</button>
        </form>
    </main>
{% endblock %}