{% extends 'base.html' %}

{% from 'macros/labeled_input.html' import labeled_input %}


{% block title %}Вход{% endblock %}


{% block head %}
    <link rel="stylesheet" href="/static/styles/auth.css">
{% endblock %}


{% block content %}
    <main>
        <form id="auth-form" method="post">
            <div id="title">Вход</div>

            <div id="fields">
                {{ labeled_input(name='login', label='Логин', class='field', required=True) }}
                {{ labeled_input(name='password', label='Пароль', type='password', class='field', required=True) }}    
            </div>
            <a href="/register">Регистрация</a>

            <button id="submit-btn" class="accent" type="submit">Войти</button>
        </form>
    </main>
{% endblock %}