{% extends 'layouts/base.html' %}

{% from 'macros/labeled_fields.html' import labeled_input, labeled_class_input %}


{% block title %}Регистрация{% endblock %}


{% block head %}
    <link rel="stylesheet" href="/static/styles/auth/auth.css">
    <link rel="stylesheet" href="/static/styles/macros/labeled_fields.css">
{% endblock %}


{% block content %}
    <main>
        <form id="auth-form" method="post">
            <h1 class="title">Регистрация</h1>

            <div id="fields">

                {{ labeled_input(name='login', label='Логин', required=True) }}
                {{ labeled_input(name='name', label='Имя', required=True) }}
                {{ labeled_input(name='surname', label='Фамилия', required=True) }}
                {{ labeled_input(name='patronymic', label='Отчество', required=True) }}
            
                {{ labeled_class_input(name='class', required=True) }}

                {{ labeled_input(name='password', label='Пароль', type='password', required=True) }}
                {{ labeled_input(name='second_password', label='Повтор пароля', type='password', required=True) }}
                
            </div>

            <a href="/login">Вход</a>

            <button id="submit-btn" class="accent" type="submit">Зарегистрироваться</button>
        </form>
    </main>

    
    {% block scripts %}
    <script src="{{ url_for('static', filename='scripts/customElements/classInput.js') }}"></script>
    {% endblock %}
{% endblock %}