{% extends 'base.html' %}
{% from 'macros/sidebar.html' import sidebar %}
{% from 'macros/title.html' import title %}

{% block title %}Меню{% endblock %}


{% block head %}
    <link rel="stylesheet" href="/static/styles/menu.css">
    <link rel="stylesheet" href="/static/styles/macros/title.css">
    <link rel="stylesheet" href="/static/styles/macros/sidebar.css">
{% endblock %}


{% block content %}
    <div class="grid-wrapper">
        <form id="filtersForm" style="display: none;"></form>
        <div class="top-bar">
            <div class="top-bar__left">
                {{ title(text='Меню', alignment='left') }}
            </div>
    
            <div class="top-bar__right">
                <div class="filters">
                    <select name="type" id="menuTypeSelect" class="menu-type" form="filtersForm">
                        {% if menu.type == "breakfast" %}
                        <option value="breakfast" selected>Завтрак</option>
                        <option value="lunch">Обед</option>
                        {% elif menu.type == "lunch" %}
                        <option value="breakfast">Завтрак</option>
                        <option value="lunch" selected>Обед</option>
                        {% else %}
                        <option value="breakfast">Завтрак</option>
                        <option value="lunch">Обед</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
        

        
        {% call sidebar(header='День') %}
        <ul id="daysList" class="days-list">
            {% for date in dates %}
                {% set selected = 'day--selected' if date == selected_date else '' %}
                {% set today = ' (сегодня)' if date == today_date else '' %}
                {% set type = menu.type %}

                <li class="day {{ selected }}" data-day="{{ date }}">
                    <a class="day__link" href="/menu/{{ date }}?type={{ type }}">{{ date.strftime(date_format) }}{{ today }}</a>

                </li>
            {% endfor %}
        
        </ul>
        {% endcall %}
            
            
        <main>
            {% if not menu or not menu.dishes %}
                <p class="no-menu-message"><strong>На эту дату нет меню.</strong></p>
            {% else %}
                
            <div class="menu-grid">
                {% for dish in menu.dishes %}
                    
                <div class="menu-grid__item">
                    <div class="dish">
                        <a class="dish__link" href="/dishes/{{ dish.id }}">
                            <div class="dish__name">{{ dish.name }}</div>
                            <ul class="dish__composition">
                                {% for product in dish.products %}

                                <li>{{ product.name }}</li>
                                
                                {% endfor %}
                            </ul>
                            <form method="POST" action="/menu/{{ selected_date }}?type={{ menu.type }}" class="buy-form">
                                цена: {{ menu.price }} руб.
                                <input type="hidden" name="menu_id" value="{{ menu.id }}">
                                <button type="submit" class="buy-button">Купить</button>
                            </form>
                        </a>
                    </div>
                </div>
                
                {% endfor %}
            </div>

            {% endif %}
        </main>
    </div>

    
{% endblock %}
    
    
{% block scripts %}
    <script>
        const menuTypeSelect = document.getElementById('menuTypeSelect');
        const filtersForm = document.getElementById('filtersForm');

        menuTypeSelect.addEventListener('change', function(event) {
            filtersForm.requestSubmit();
        });
    </script>    
{% endblock %}