{% extends 'base.html' %}
{% from 'macros/sidebar.html' import sidebar %}
{% from 'macros/title.html' import title %}

{% block title %}Меню{% endblock %}


{% block head %}
    <link rel="stylesheet" href="/static/styles/menu.css">
    <link rel="stylesheet" href="/static/styles/macros/title.css">
    <link rel="stylesheet" href="/static/styles/macros/sidebar.css">
{% endblock %}


{% block content %}
    <div class="wrapper">

        <div class="top-bar">
            <div class="top-bar__left">
                {{ title(text='Меню', alignment='left') }}
            </div>
    
            <div class="top-bar__right">
                <div class="filters">
                    <select name="type" id="menuTypeSelect" class="menu-type">
                        <option value="breakfast">Завтрак</option>
                        <option value="lunch">Обед</option>
                    </select>
                </div>
            </div>
        </div>
        
        {% call sidebar(header='День') %}
        <ul id="daysList" class="days-list">
            {% for date in dates %}
                {% if date == today %}
                <li class="day day--selected" data-day="{{ date }}">{{ date.strftime('%d %B') }} (сегодня)</li>    
                {% else %}
                <li class="day" data-day="{{ date }}">{{ date.strftime('%-d %B') }}</li>
                {% endif %}

            {% endfor %}
        
        </ul>
        {% endcall %}
            
            
        <main>
            <div class="menu-grid">
                <div class="menu-grid__item">
                    <div class="dish">
                        <div class="dish__name">Картофель</div>
                        <ul class="dish__composition">
                            <li>Картофель</li>
                            <li>Картофель</li>
                            <li>Картофель</li>
                        </ul>
                    </div>
                </div>

                
            </div>
        </main>
    </div>

{% endblock %}