{% extends 'layouts/management/users.html' %}

{% block title %}Добавить пользователя{% endblock %}

{% block top_bar %}
{{ super() }}
 <button type="submit" class="accent">Добавить</button>
{% endblock %}


{% block main %}
    <div class="user-profile">
        <div class="profile-header">
            <div>
                <h1 class="profile-title">
                    Добавить пользователя
                </h1>
            </div>
        </div>


        <form id="add-user-form" method="post">
            <div class="info-section">
                <h3>Основная информация</h3>
                <div class="info-grid">
                    <div class="form-field">
                        <label>Логин *</label>
                        <input type="text" name="login" required>
                    </div>

                    <div class="form-field">
                        <label>Роль *</label>
                        <select name="role" required>
                            <option value="">Выберите роль</option>
                            <option value="cook">Повар</option>
                            <option value="admin">Админ</option>
                        </select>
                    </div>

                    <div class="form-field">
                        <label>Фамилия *</label>
                        <input type="text" name="surname" required>
                    </div>

                    <div class="form-field">
                        <label>Имя *</label>
                        <input type="text" name="name" required>
                    </div>

                    <div class="form-field">
                        <label>Отчество *</label>
                        <input type="text" name="patronymic" required>
                    </div>

                    <div class="form-field">
                        <label>Пароль *</label>
                        <input type="password" name="password" required>
                    </div>

                    <div class="form-field">
                        <label>Повторите пароль *</label>
                        <input type="password" name="second_password" required>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}