{% extends 'layouts/management/users.html' %}

{% block title %}Пользователи{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/users/list.css">
{% endblock %}


{% block main %}
    <div class="users-grid">
        {% for user in users %}
            <div class="user" data-id="{{ user.id }}">
                <a href="/manage/users/{{ user.id }}" class="user__link">
                    <div class="user__top">
                        <h2 class="user__full-name">{{ user.surname }} {{ user.name[0] }}. {{ user.patronymic[0] }}.</h2>
                    </div>

                    <ul class="user__special-info">
                        <li class="user__role">{{ user.roles[0].name }}</li>
                    </ul>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
