{% extends 'layouts/management/users.html' %}

{% block title %}Админ: Пользователи{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/users/list.css">
    <link rel="stylesheet" href="/static/styles/users/user.css">
{% endblock %}

{% block main %}
    {% if users %}
        <div class="users-grid">
            {% for user in users %}
                <div class="user" data-id="{{ user.id }}">
                    <a href="/admin/users/{{ user.id }}" class="user__link">
                        <div class="user__top">
                            <h2 class="user__full-name">{{ user.surname }} {{ user.name[0] }}. {{ user.patronymic[0] }}.</h2>
                        </div>

                        <ul class="user__special-info">
                            <li class="user__role">{{ user.roles[0].name }}</li>
                            
                            {% if user.roles[0].name == 'user' %}
                                <li>{{ user.balance }}</li>
                            {% endif %}
                            
                            {% if user.student_info.abonement %}
                                <li>Абонемент</li>
                            {% endif %}
                        </ul>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="no-users-message">
            <p><strong>Пользователей нет</strong></p>
        </div>
    {% endif %}
{% endblock %}