{% extends 'layouts/base.html' %}

{% from 'macros/labeled_fields.html' import labeled_input, labeled_class_input %}
{% from 'macros/scrollable_list.html' import scrollable_list %}


{% block title %}Профиль{% endblock %}


{% block head %}
    <link rel="stylesheet" href="/static/styles/users/profile.css">
    <link rel="stylesheet" href="/static/styles/macros/labeled_fields.css">
    <link rel="stylesheet" href="/static/styles/macros/scrollable_list.css">
{% endblock %}


{% block content %}
    <main>
        <form id="profile-form" action="profile/edit" method="post">
            <div id="profile-top-bar">
                <h1 class="title">Профиль</h1>
                {{ title(text='Профиль') }}
                <div id="btns-container">
                    <button id="edit-btn" type="button">Изменить</button>
                    <button id="confirm-btn" class="accent" type="button" style="display: none">Подтвердить</button>
                    <button id="cancel-btn" class="danger" type="button" style="display: none">Отменить</button>
                </div>
            </div>
    
            <div id="profile-grid">
                <div id="main-profile-info">
                    {{ labeled_input(name='login', label='Логин', value=login, readonly=True, required=True) }}
                    {{ labeled_input(name='surname', label='Фамилия', value=surname, readonly=True, required=True) }}
                    {{ labeled_input(name='name', label='Имя', value=name, readonly=True, required=True) }}
                    {{ labeled_input(name='patronymic', label='Отчество', value=patronymic, readonly=True, required=True) }}
                    {{ labeled_class_input(value=class, readonly=True, required=True) }}
                </div>
    
                {{ scrollable_list(label='Аллергии', id='allergies', items=allergies) }}
                {{ scrollable_list(label='Предпочтения', id='preferences', items=preferences) }}

            </div>

            <div id="hidden-inputs" style="display: none;">
                <input name="allergies" type="hidden">
                <input name="preferences" type="hidden">
            </div>

        </form>
    </main>


    {% block scripts %}
    <script src="{{ url_for('static', filename='scripts/profile/getListStrContent.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/profile/addProfileListItem.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/profile/submitProfileForm.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/customElements/classInput.js') }}"></script>
    <script>
        const form = document.getElementById('profile-form');
        const hiddenInputsContainer = document.getElementById('hidden-inputs');

        const editButton = document.getElementById('edit-btn');
        const confirmButton = document.getElementById('confirm-btn');
        const cancelButton = document.getElementById('cancel-btn');

        const fields = document.querySelectorAll('#main-profile-info > .labeled-input > input, #main-profile-info > .labeled-input > class-input');
        let initialValues = [];
        
        let listItems = document.querySelectorAll('.scrollable-list li');
        
        const addButtons = document.querySelectorAll('button.add');

        addButtons.forEach(button => {
            button.addEventListener('click', addProfileListItem);
        })


        listItems.forEach(li => {
            li.addEventListener('mouseenter', function() {
                let btns = this.querySelector('.li-btns');
                btns.style.display = 'block';
            });
            
            li.addEventListener('mouseleave', function() {
                let btns = this.querySelector('.li-btns');
                btns.style.display = 'none';
            });

            let del_btn = li.querySelector('.delete-btn');
            del_btn.addEventListener('click', function() {
                li.remove();
                submitProfileForm(form, hiddenInputsContainer);
            });

        });


        fields.forEach(field => {
            initialValues.push(field.value);
        });


        confirmButton.addEventListener('click', function() {
            submitProfileForm(form, hiddenInputsContainer);
        });


        editButton.addEventListener('click', function() {
            fields.forEach(field => {
                field.readOnly = false;
            });

            this.style.display = 'none';
            confirmButton.style.display = 'inline-block';
            cancelButton.style.display = 'inline-block';
        });


        cancelButton.addEventListener('click', function() {
            fields.forEach((field, index) => {
                field.readOnly = true;
                field.value = initialValues[index];
            });

            this.style.display = 'none';
            confirmButton.style.display = 'none';
            editButton.style.display = 'inline-block';
        });
    </script>
    {% endblock %}    

{% endblock %}