main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#auth-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 400px;
    width: 360px;
    margin-top: 64px;
    padding: 16px;
    border-radius: var(--border-radius);
    background: var(--bg);
    box-shadow: var(--shadow);
}

#fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#submit-btn {
    font-size: 1.25rem;
}

.auth__question {
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 1.4rem;
    color: var(--text-muted);
    font-size: 1rem;
    font-weight: 600;
}


.auth__link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}