{% extends 'layouts/header_layout.html' %}

{% block title %}Пополнение баланса{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/payment/payment.css">
    <link rel="stylesheet" href="/static/styles/forms/labeled_fields.css">
{% endblock %}

{% block top_bar %}
    <div class="top-bar__left">
        <h1 class="title left">Пополнение баланса</h1>
    </div>
{% endblock %}

{% block main %}
<div class="menus">
    <div class="payment-section payment-form-container info__section">
        <div class="section__top">
            <h2 class="section__header">Пополнение счёта</h2>
        </div>

        <form method="POST" action="/balance/edit">
            <div class="labeled-input">
                <label for="balance_edit">Сумма (₽)</label>
                <input type="number"
                       name="balance_edit"
                       id="balance_edit"
                       min="100"
                       max="10000"
                       step="100"
                       value="1000"
                       required>
            </div>

            <div class="form-actions">
                <button type="submit" class="accent">Оплатить</button>
                <button type="button" onclick="location.href='/payment'" class="button">Отмена</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}